---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/ClassA/ge2I2CgvXC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6bc7c2a7299e33e2235c544283ccd445"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"columnA":"Hello, parse.com","createdAt":"2013-10-08T11:16:46.431Z","updatedAt":"2013-10-08T11:16:46.431Z","objectId":"ge2I2CgvXC"}'
  recorded_at: Tue, 08 Oct 2013 11:19:40 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/ClassA?keys=columnB&limit=3&order=createdAt&where=%7B%22columnB%22:%7B%22$gt%22:5%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b35ed59f2d61b8185524fd55b7570ed1"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"columnB":100,"createdAt":"2013-10-03T08:52:06.000Z","updatedAt":"2013-10-03T09:14:45.177Z","objectId":"UUqhbnuTYx"},{"columnB":100,"createdAt":"2013-10-03T09:13:55.850Z","updatedAt":"2013-10-03T09:14:42.814Z","objectId":"ZvYdVUQ6bM"},{"columnB":100,"createdAt":"2013-10-03T09:14:26.327Z","updatedAt":"2013-10-03T09:14:40.863Z","objectId":"gAU5Soepva"}]}'
  recorded_at: Tue, 08 Oct 2013 11:19:41 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/ClassA?keys=columnB&limit=3&order=createdAt&where=%7B%22objectId%22:%22UUqhbnuTYx%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"25e49608238780e90afc7e4a8342ce9c"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"columnB":100,"createdAt":"2013-10-03T08:52:06.000Z","updatedAt":"2013-10-03T09:14:45.177Z","objectId":"UUqhbnuTYx"}]}'
  recorded_at: Tue, 08 Oct 2013 11:19:41 GMT
recorded_with: VCR 2.4.0
