---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/ClassA?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"21f1d56465316b4627e035fe84754e22"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"results":[{"columnA":"Hello, parse.com","columnD":{"__type":"Relation","className":"ClassB"},"createdAt":"2013-10-04T04:24:31.089Z","updatedAt":"2013-10-04T04:24:31.089Z","objectId":"OGKnxa5IiZ"}]}'
  recorded_at: Sun, 13 Oct 2013 08:48:15 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/ClassA/OGKnxa5IiZ
    body:
      encoding: UTF-8
      string: ! '{"columnB":{"__op":"Increment","amount":1}}'
    headers:
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"89006920f12e748cde369d09a7b90cd5"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"columnB":1,"updatedAt":"2013-10-13T08:48:14.448Z"}'
  recorded_at: Sun, 13 Oct 2013 08:48:16 GMT
recorded_with: VCR 2.4.0
