---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/ClassA
    body:
      encoding: UTF-8
      string: ! '{"columnA":"Hello, parse.com"}'
    headers:
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/ClassA/vI8RdTV68d
      Status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"createdAt":"2013-10-08T13:18:28.749Z","objectId":"vI8RdTV68d"}'
  recorded_at: Tue, 08 Oct 2013 13:18:28 GMT
recorded_with: VCR 2.4.0
