---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/login?password=password&username=username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
      X-Parse-Session-Token:
      - pnypzjqymzhp74wdjo171lq79
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3b897a446e909397ccb9ea1b65668d01"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"username":"username","createdAt":"2013-09-30T16:12:49.307Z","updatedAt":"2013-09-30T16:12:49.307Z","objectId":"HzHwHJpoRH","sessionToken":"cng37qr6lc33tmrvpf6jrnk00"}'
  recorded_at: Mon, 07 Oct 2013 10:54:05 GMT
recorded_with: VCR 2.4.0
