---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/users
    body:
      encoding: UTF-8
      string: ! '{"username":"username692","password":"password"}'
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/users/eajRLwWOkb
      Status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"createdAt":"2013-10-07T10:54:03.363Z","objectId":"eajRLwWOkb","sessionToken":"pnypzjqymzhp74wdjo171lq79"}'
  recorded_at: Mon, 07 Oct 2013 10:54:03 GMT
recorded_with: VCR 2.4.0
