---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/ClassA/UUqhbnuTYx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Session-Token:
      - <X-Parse-Session-Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ae50cb0dce7ead5e1d206e7d1e658ceb"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"columnA":"hello","columnB":100,"user":{"__type":"Pointer","className":"_User","objectId":"5VuUwoEe0j"},"createdAt":"2013-10-03T08:52:06.000Z","updatedAt":"2013-10-03T09:14:45.177Z","objectId":"UUqhbnuTYx"}'
  recorded_at: Tue, 08 Oct 2013 13:18:37 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/_User/5VuUwoEe0j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Session-Token:
      - <X-Parse-Session-Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7e3887e73da29bf2f8e12e5602a55e79"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"username":"username149","createdAt":"2013-10-01T14:19:56.846Z","updatedAt":"2013-10-01T14:19:56.846Z","objectId":"5VuUwoEe0j"}'
  recorded_at: Tue, 08 Oct 2013 13:18:40 GMT
recorded_with: VCR 2.4.0
