---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/ClassA/UUqhbnuTYx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
      X-Parse-Session-Token:
      - cng37qr6lc33tmrvpf6jrnk00
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ae50cb0dce7ead5e1d206e7d1e658ceb"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"columnA":"hello","columnB":100,"user":{"__type":"Pointer","className":"_User","objectId":"5VuUwoEe0j"},"createdAt":"2013-10-03T08:52:06.000Z","updatedAt":"2013-10-03T09:14:45.177Z","objectId":"UUqhbnuTYx"}'
  recorded_at: Mon, 07 Oct 2013 10:54:06 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/_User/5VuUwoEe0j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - 5pAcGK0rtDuRmuyolkXiVBJtdPcpbNrTTjfUzjrk
      Content-Type:
      - application/json
      User-Agemt:
      - A parse.com client for ruby
      X-Parse-Rest-Api-Key:
      - PjBImOQdiZgx5NPVpqc2qV29EmSQrHwj9mJkUfDN
      X-Parse-Session-Token:
      - cng37qr6lc33tmrvpf6jrnk00
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7e3887e73da29bf2f8e12e5602a55e79"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"username":"username149","createdAt":"2013-10-01T14:19:56.846Z","updatedAt":"2013-10-01T14:19:56.846Z","objectId":"5VuUwoEe0j"}'
  recorded_at: Mon, 07 Oct 2013 10:54:07 GMT
recorded_with: VCR 2.4.0
