---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/login?password=password&username=username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      Content-Type:
      - application/json
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Session-Token:
      - <X-Parse-Session-Token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3b897a446e909397ccb9ea1b65668d01"'
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"username":"username","createdAt":"2013-09-30T16:12:49.307Z","updatedAt":"2013-09-30T16:12:49.307Z","objectId":"HzHwHJpoRH","sessionToken":"cng37qr6lc33tmrvpf6jrnk00"}'
  recorded_at: Tue, 08 Oct 2013 13:18:35 GMT
recorded_with: VCR 2.4.0
